body{
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
    background-color: #424953;
}

.navbar-brand {
	font-weight: 700;
}

.navbar.navbar-default.navbar-fixed-top {
    margin-top: 5px;
	border: none;
	padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(229, 233, 238, 0.849);
}

.navbar-default .navbar-brand {
	color: #fff;
	text-shadow: 1px 1px #666;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
	margin-right: 20px;
    font-size: 15px;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #638181;
}

#headerwrap {
	background: url(images/headerwrap.jpg) no-repeat;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid #859E9E;
}

#panel_adm {
    width: 100%;
    min-height: 800px;
    background-color: #424953;
}

#panel_adm .col-md-10.col-md-offset-1.name {
    height: 100px;
    padding: 50px 0;
}

#panel_adm .col-md-10.col-md-offset-1.name h2{
    color: rgb(218, 228, 236);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

#panel_adm .col-md-10.col-md-offset-1.functions {
    min-height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-3.left {
    min-height: 700px;
    background-color: #222A36;
    margin: 0;
    border-radius: 5px;
    padding: 0;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-9.center {
    min-height: 680px;
    background-color: #E8E8E8;
    margin-top: 10px;
    border-radius: 0 5px 5px 0;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-9.center h2 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 20px auto;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-9.center label {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-9.center b {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-3.left .title {
    width: 100%;
    height: 80px;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-3.left .title h4 {
    text-align: center;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-3.left .title h4 a {
    margin: 0;
    width: 100%;
    line-height: 80px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    color: rgb(218, 228, 236);
    font-size: 15px;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-3.left .title h4 a:hover {
    text-decoration: none;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-3.left .title h4 a:active {
    text-decoration: none;
}

#panel_adm .col-md-10.col-md-offset-1.functions .col-md-3.left .title h4:hover {
    background-color: #2B3544;
}


.col-md-12.footer {
    background-color: #424953;
    text-align: center;
    height: 75px;
}

.col-md-12.footer h4{
    color: #fff;
    font-weight: lighter;
}