body{
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
	font-weight: 700;
}

.navbar.navbar-default.navbar-fixed-top {
    margin-top: 5px;
	border: none;
	padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(229, 233, 238, 0.849);
}

.navbar-default .navbar-brand {
	color: #fff;
	text-shadow: 1px 1px #666;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
	margin-right: 20px;
    font-size: 15px;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #638181;
}

#headerwrap {
	background: url(images/headerwrap.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#headerwrap > .col-md-10.title{
    padding-top: 250px;
    text-align: center;
}

#headerwrap > .col-md-10.title h1{
    font-size: 6vw;
    font-weight: lighter;
    color: #000;
}


.col-md-12.search_box {
    min-height: 200px;
	background-color: #424953;
    padding: 15px;
}


.col-md-12.search_box > .col-md-10.list_box {
	min-height: 100px;
	padding: 10px;
    text-align: center;
    background-color: #F2F2F2;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.city {
    height: 100px;
    padding: 0;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.city > .dropdown {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.city > .dropdown > button {
    width: 100%;
    height: 40px;
    margin-top: 30px; 
    text-transform: uppercase;
    border: 2px solid #424953;
    color: #424953;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.attraction {
    height: 100px;
    padding: 0;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.attraction > .dropdown {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.attraction > .dropdown > button {
    width: 100%;
    height: 40px;
    margin-top: 30px; 
    text-transform: uppercase;
    border: 2px solid #424953;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.range {
    height: 100px;
    padding: 0;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.range > .dropdown {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.range > .dropdown > button {
    width: 100%;
    height: 40px;
    margin-top: 30px; 
    text-transform: uppercase;
    border: 2px solid #424953;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.search {
    height: 100px;
    padding: 0;
}

.col-md-12.search_box > .col-md-10.list_box > .col-md-3.search > button {
    width: 70%;
    height: 40px;
    margin-top: 30px; 
    text-transform: uppercase;
    background-color: #638181;
    border-radius: 10px;
    font-weight: normal;
    color: #fff;
}

.col-md-12.recommended {
    min-height: 200px;
	background-color: #fff;
    padding: 40px 60px;
}

.col-md-12.recommended > .title {
    text-align: center;
    margin-bottom: 50px;
    width: 50%;
    margin-left: 25%;
}

.col-md-12.recommended > .title h1 {
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 15px;
    border-bottom: 2px solid #8597A3;
}

.col-md-12.recommended > .title h4 {
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 15px;
}

.col-md-12.recommended > .col-md-4 > .description h3{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.col-md-12.recommended > .col-md-4 > .description button {
    width: 50%;
    margin-left: 25%;
    height: 40px;
    margin-top: 30px; 
    text-transform: uppercase;
    background-color: #638181;
    border-radius: 10px;
    font-weight: normal;
    color: #fff;
}

.col-md-12.recommended > .col-md-4 {
    margin-bottom: 50px;
}

.col-md-12.contact {
    min-height: 700px;
	background: url(images/kontakt.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

.col-md-12.contact > .col-md-5.data {
    min-height: 300px;
    padding-left: 50px;
}

.col-md-12.contact > .col-md-7.mail {
    min-height: 300px;
    padding: 0 100px 40px 100px;
}

.col-md-12.contact > .col-md-7.mail > form > textarea {
    width: 100%;
    min-height: 200px;
    background-color: #F2F2F2;
    border: none;
}

.col-md-12.contact > .col-md-7.mail > form {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

#email {
    width: 250px;
    background-color: #F2F2F2;
    border: none;
}

.col-md-12.contact > .col-md-7.mail button {
    width: 100px;
    height: 40px;
    margin-top: 15px; 
    text-transform: uppercase;
    background-color: #638181;
    border-radius: 10px;
    font-weight: normal;
    color: #fff;
}

.col-md-5.data h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #638181;
}

.col-md-5.data h4 {
    margin-top: 20px;
    font-weight: normal;
    color: #424953;
    line-height: 30px;
}

.col-md-12.footer {
    background-color: #424953;
    text-align: center;
    height: 75px;
}

.col-md-12.footer h4{
    color: #fff;
    font-weight: lighter;
}

/*login popup*/

.form-popup {
    display: none;
    position: fixed;
    top: 60px;
    right: 15px;
    border: none;
    z-index: 9;
}

@media (max-width: 768px) {
    .form-popup {
        display: none;
        position: fixed;
        top: 200px;
        left: 15px;
        border: none;
        z-index: 9;
    }

}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #424953c9;
    color: white;

}

#myForm > form > h1 {
    font-size: 25px;
}

#myForm > form > label:nth-child(2) > b, #myForm > form > label:nth-child(4) > b, #myForm > form > h1 {
    font-weight: 300;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    color: black;
    font-weight: 500;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #6d8f8f;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    width: 70%;
    margin-left: 15%;
    margin-bottom:10px;
}

.form-container .register {
    background-color: #638181;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#myForm > form > a > button.btn.forgot {
    background-color: rgba(255, 255, 255, 0);
}

#myForm > form > button.btn.forgot:active,  #myForm > form > button.btn.forgot:focus {
    border-style: none;
    border: none;
    outline: none;

}
