<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/administration_panel.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<body>

<div id="headerwrap">

    <div th:fragment="search" class="col-md-9 center">
        <h2>Wyszukiwanie lokalizacji</h2>
        <form th:object="${locations}" th:action="@{/admin/locations/search}" method="get">
            <label for="city">Miasto</label>
            <input type="text" id="city" name="city" th:value="${city}"/>
            <br />
            <br />
            <label for="postalCode">Kod pocztowy</label>
            <input type="text" id="postalCode" name="postalCode" th:value="${postalCode}"/>

            <input type="submit" value="Szukaj"/>
        </form>
        <br>

        <form th:action="@{/admin/locations/search/edit}" method="get" th:object="${location}" th:value="${viewType}" class="form-container-reg">
            <h5>Lokalizacje</h5>
            <div style="height: 10rem; overflow-y: scroll; scrollbar-color: black grey; scrollbar-width: thin;">
                <ul>
                    <li th:each="l : ${locations}">
                        <input th:name="id" th:value="${l.id}" th:id="'loc' + ${l.id}" type="radio">
                        <label th:for="'loc' + ${l.id}" th:text="${l.id} + ' ' + ${l.city} + ' ' + ${l.postalCode} + ' ' + ${l.street} + ' ' + ${l.streetNo} + ' ' + ${l.longitude} + ' ' + ${l.latitude}"></label>
                    </li>
                </ul>
            </div>
            <br />
            <button type="submit" class="btn">Wybierz</button>
        </form>
    </div>
</div>

<div class="col-md-12 footer">
    <br />
    <h4>Wszelkie prawa zastrzeżone © 2020</h4>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>