<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Raport Bazy danych</h2>
<h3>Liczba atrakcji</h3>
<div th:text="${attCount}">
</div>
<h3>Liczba news</h3>
<div th:text="${newsCount}">
</div>
<h3>Libcza użytkowników</h3>
<div th:text="${usrCount}">

</div>
<h3>Libcza lokalizacji</h3>
<div th:text="${locationCount}">

</div>

</body>
</html>